
.carousel{
    margin-top: 5%;
}
.footer__ubicacion-whatsapp{
margin-top: 30px;
}

.ubicacion__logos_redes{
    display: flex;
    justify-content: center;
}
.centrar-footer-a{
    display: flex;
    justify-content: center;
}

.footer__ubicacionTextoFooter{
    text-align: center;
}


.ubicacion__mapaUbicacion{
    display: flex;
    justify-content: center;
}
.ubicacion__h3Ubicacion{
    display: flex;
    justify-content: center;
}

.carousel-item img{
    margin-top: 0px;
}

.texto__section{
    text-align: center;
}